.round-button {
    margin: 20px;
    border-radius: 100px;
    width: 70%;
}
.round-button:hover {
    color: #000000 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
.whoweare {
    background-color: whitesmoke;
    padding: 20px;
}
.whoweare p {
    font-size: 20px;
}
.parcels {
    font-size: 25px;
}
.connect {
    background-color: whitesmoke;
    text-align: center;
    padding: 40px;
}
.whatwedo p {
    font-size: 20px;
}
.whatwedo h3 {
    color: black;
}